* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.1), rgba(4, 9, 30, 0.1)),
    url("images/background3.webp");
  background-position: center;
  background-size: cover;
  position: relative;
}

nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

nav img {
  width: 150px;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  color: #120962;
  text-decoration: none;
  font-size: 14px;
}

.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #95d5c6;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

.text-box {
  width: 90%;
  color: #120962;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.text-box h1 {
  font-size: 50px;
}

.text-box p {
  margin: 10px 0 40px;
  font-size: 14px;
  color: #010005;
}

.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 15px;
  background: transparent;
  position: relative;
  cursor: pointer;
}

.hero-btn:hover {
  border: 1px solid #95d5c6;
  background: #95d5c6;
  transition: 1s;
}

nav .fa {
  display: none;
}

@media (max-width: 700px) {
  .text-box h1 {
    font-size: 20px;
  }
  .nav-links ul li {
    display: block;
  }
  .nav-links {
    position: absolute;
    background: #95d5c6;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }
  nav .fa {
    display: block;
    color: #120962;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }
}

.nav-links ul {
  padding: 30px;
}

/* Adventure  */

.course {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}
h1 {
  font-size: 36px;
  font-weight: 600;
}

p {
  color: #120962;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}

.row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.course-col {
  flex-basis: 31%;
  background: #fff3f3;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
}

h3 {
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}

.course-col:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

@media (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}

/* next-sec */

.next-sec {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}

.campus-col {
  flex-basis: 31%;
  border-radius: 10px;
  margin-bottom: 5%;
  position: relative;
  overflow: hidden;
}

.campus-col img {
  width: 100%;
  display: block;
}

.layer {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}

.layer:hover {
  background: rgba(91, 249, 238, 0.619);
}

.layer h3 {
  width: 100%;
  font-weight: 500;
  color: #fff;
  font-size: 20px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}

.layer:hover h3 {
  bottom: 49%;
  opacity: 1;
}

/* list */

.facilities {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

.facilities-col {
  flex-basis: 31%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
}

.facilities-col img {
  width: 100%;
  border-radius: 10px;
}

.facilities-col p {
  padding: 0;
}

.facilities-col h3 {
  margin-top: 16px;
  margin-bottom: 15px;
  text-align: left;
}

/* testimonials */

.testimonials {
  width: 80%;
  margin: auto;
  padding-top: 100px;
  text-align: center;
}

.testimonial-col {
  flex-basis: 44%;
  border-radius: 5px;
  margin-bottom: 5%;
  text-align: left;
  background: #fff3f3;
  padding: 25px;
  cursor: pointer;
  display: flex;
}

.testimonial-col img {
  height: 40px;
  margin-left: 5px;
  margin-right: 30px;
  border-radius: 50%;
}

.testimonial-col p {
  padding: 0;
}

.testimonial-col h3 {
  margin-top: 15px;
  text-align: left;
}

.testimonial-col .fa {
  color: red;
}

@media (max-width: 700) {
  .testimonial-col img {
    margin-left: 0px;
    margin-right: 15px;
  }
}

/* call to action */

.cta {
  margin: 100px auto;
  width: 80%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("images/explorers.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  text-align: center;
  padding: 100px 0;
}

.cta h1 {
  color: #fff;
  margin-bottom: 40px;
  padding: 0;
}

@media (max-width: 700px) {
  .cta h1 {
    font-size: 24px;
  }
}

/* footer */

.footer {
  width: 100%;
  text-align: center;
  padding: 30px 0;
}

.footer h4 {
  margin-bottom: 25px;
  margin-top: 20px;
  font-weight: 600;
}

.icons .fa {
  color: #f44336;
  margin: 0 13px;
  cursor: pointer;
  padding: 18px 0;
}

.fa-heart-o {
  color: #f44336;
}

/* lists page */

.sub-header {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.2), rgba(4, 9, 30, 0.2)),
    url("images/banner13.jpeg");
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #120962;
}

.sub-header h1 {
  margin-top: 50px;
}

.page-title {
  color: #120962;
  text-align: center;
  padding: 100px 0;
}

.bucket-l {
  width: 80%;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 50px;
}

.bucketl-col {
  flex-basis: 48%;
  padding: 30px 2px;
  padding-top: 0;
}

.bucketl-col img {
  width: 100%;
  margin-left: 30px;
}

.bucketl-col {
  padding-top: 0;
}

.bucketl-col p {
  padding: 15px 0 25px;
}

/* buckit list spinner */

.spinner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.result-container {
  margin-bottom: 20px;
  font-size: 24px;
}

.bucketList {
  list-style-type: none;
  padding: 0;
}

.list-item {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  background-color: #95d5c6;
  color: #120962;
}

#spinButton {
  display: inline-block;
  text-decoration: none;
  color: #120962;
  border: 1px solid #000000;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
  background-color: #fff;
  margin-bottom: 100px;
}

#spinButton:hover {
  border: 1px solid #95d5c6;
  background-color: #95d5c6;
  transition: 1s;
}

.bucket-l h1 {
  text-align: center;
}
/* Destinations page */

.sub-header2 {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.1), rgba(4, 9, 30, 0.1)),
    url("images/background15.webp");
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #120962;
}

.sub-header h1 {
  margin-top: 50px;
}

/* Activities page  */

.sub-header3 {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.2), rgba(4, 9, 30, 0.2)),
    url("images/background21.jpeg");
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #120962;
}

.sub-header h1 {
  margin-top: 50px;
}

/* sign up page */

.sub-header4 {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.2), rgba(4, 9, 30, 0.2)),
    url("images/background17.jpeg");
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #120962;
}

.sub-header h1 {
  margin-top: 50px;
}

/* sign up page */
#signup {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

#signup form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#signup label {
  text-align: left;
  margin-bottom: 5px;
}

#signup input[type="text"],
#signup input[type="email"],
#signup input[type="password"] {
  width: 30%;
  padding: 8px; /* Adjust the padding */
  border-radius: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}

#signup input[type="submit"] {
  background-color: #95d5c6;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#signup input[type="submit"]:hover {
  background-color: #95d5c6;
}

#signup h2 {
  margin-bottom: 20px;
}

/* sign in box */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.container h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

form label {
  display: block;
  font-weight: bold;
  margin-bottom: 6px;
}

form input[type="email"],
form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #fff;
  color: #120962;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

form button[type="submit"]:hover {
  background-color: #95d5c6;
}

/* list form */

.containerL {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #95d5c6;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
  font-family: "Poppins";
  color: #120962;
}

form label {
  display: block;
  font-weight: bold;
  margin-bottom: 6px;
}

form input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border: 1px solid #fff;
  border-radius: 4px;
}

form button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form button[type="submit"]:hover {
  background-color: #0056b3;
}

#itemList {
  margin-top: 20px;
}

ul#items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  list-style: none;
  padding: 0;
}

ul#items li {
  margin: 5px;
  padding: 10px;
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Enable smooth scrolling for all anchors */
html {
  scroll-behavior: smooth;
}

/* contact us  */

.sub-header5 {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.2), rgba(4, 9, 30, 0.2)),
    url("images/mayan.jpeg");
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #120962;
}

.sub-header h1 {
  margin-top: 50px;
}

.icons2 .fa {
  color: #120962;
  margin: 0 13px;
  cursor: pointer;
  padding: 18px 0;
}

/* media links */

@media (max-width: 700px) {
  /* Adjustments for navigation */
  nav {
    padding: 2% 2%;
  }
  /* ... Other adjustments for small screens ... */
}

/* Media Query for Tablets and Medium Screens */
@media (min-width: 701px) and (max-width: 1024px) {
  /* Adjustments for tablets and medium screens */
}

/* Media Query for Large Screens */
@media (min-width: 1025px) {
  /* Adjustments for large screens */
}

/* Media Query for Folding Phones and Other Devices */
@media (max-width: 600px), (max-width: 414px) and (max-height: 896px) {
  /* Adjustments for folding phones and other devices */
}

/* Media Query for Very Small Screens */
@media (max-width: 400px) {
  nav .fa {
    font-size: 16px;
    margin: 6px;
  }

  .cta h1 {
    font-size: 20px;
  }
}
