<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bucket List Website </title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600;700&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/c622fb64c3.js" crossorigin="anonymous"></script>
</head>
<body>
<section class="sub-header3">
    <nav>
        <a href="home.html"><img src="static/images/logo-PhotoRoom.png"> </a>
        <div class="nav-links" id="navLinks">
            <i class="fa fa-times" onclick="hideMenu()"></i>
            <ul>
                <li><a id="home-link" href="/home">Home</a></li>
                <li><a id="lists-link" href="/lists">Lists</a></li>
                <li><a id="destinations-link" href="/destinations">Destinations</a></li>
                <li><a id="activities-link" href="/activities">Activities</a></li>
                <li><a id="signinup-link" href="/signup">Sign in/Sign up</a></li>
                <li><a id="contact-link" href="/contact">Contact</a></li>
            </ul>
        </div>
        <i class="fa fa-bars" onclick="showMenu()"></i>
    </nav>
    <h1>Activities</h1>
    <br>
    <p>  Welcome to our Activities Wonderland, where ordinary moments become exhilarating adventures and unfulfilled<br>
         dreams find life. Experience adrenaline rushes, soul-soothing escapades, and cultural immersion in a tapestry<br>
         of inspiring experiences. Unleash passions, broaden horizons, and weave your extraordinary life tapestry.
    </p>
        <br>
        <br>
        <br>
        <br>
        <br>
    <a id="scrollButton" class="hero-btn">EXPLORE NOW</a>
  
</section>

<!-- activities -->

<section id="nextSection" class="facilities">
    <h1>Adventures all around!</h1>

    <div class="row">
        <div class="facilities-col">
            <a href="{{ activities_url }}">
            <img src="static/images/banner15.jpeg">
            </a>
            <h3>Wonders of the world</h3>
            <p>Embark on a pilgrimage of awe and wonder, tracing the footsteps
               of explorers who sought out the natural wonders of the world.

            </p>
        </div>
        <div class="facilities-col">
            <a href="{{ activities_url2 }}">
            <img src="static/images/skydiving.jpg">
            </a>
            <h3>Sky Diving destinations</h3>
            <p>Defy gravity and soar into the skies with unbridled courage,
                as you seek out new skydiving locations that gift you not only 
                breath taking views, but also a profound sense of liberation.
 
            </p>
        </div>
        <div class="facilities-col">
            <a href="{{ activities_url3 }}">
            <img src="static/images/canoe.jpeg">
            </a>
            <h3>Canoe and Kayaking destinations</h3>
            <p>Paddle through the unknown and discover new canoe and kayak destinations,
               true discovery lies just beyond the horizon.
 
            </p>
        </div>
    </div>

    <div class="row">
        <div class="facilities-col">
            <a href="{{ activities_url4 }}">
            <img src="static/images/destination5.jpeg">
            </a>
            <h3>Natural Wonders</h3>
            <p>Embark on a pilgrimage of awe and wonder, tracing the footsteps of explorers who
               sought out the natural wonders of the world.

            </p>
        </div>
        <div class="facilities-col">
            <a href="{{ activities_url5 }}">
            <img src="static/images/events.jpeg">
            </a>
            <h3>Events & Festivals</h3>
            <p>Step into a kaleidoscope of culture, colours, and celebration as you immerse yourself
               in world-famous events and festivals, where the rhythm of traditions and the energy of crowds create unforgettable moments.
 
            </p>
        </div>
        <div class="facilities-col">
            <a href="{{ activities_url6 }}">
            <img src="static/images/paddlebaord.jpeg">
            </a>
            <h3>Paddle Boarding Locations</h3>
            <p>Embark on a journey of tranquillity and balance as you navigate uncharted waters,
               exploring new paddleboard locations that allow you to glide through nature's reflection.
 
            </p>
        </div>
    </div>

    <div class="row">
        <div class="facilities-col">
            <a href="{{ activities_url7 }}">
            <img src="static/images/killaman.jpeg">
            </a>
            <h3>Hiking Locations</h3>
            <p>Embark on a journey of discovery as you traverse uncharted trails and unveil
               the breath taking beauty of new hiking locations, where each step becomes a testament
               to your unyielding spirit of adventure.
 
            </p>
        </div>
        <div class="facilities-col">
            <a href="{{ activities_url8 }}">
            <img src="static/images/banner6.jpg">
            </a>
            <h3>Snorkelling destinations</h3>
            <p>Immerse yourself in the tranquil embrace of the underwater world,
               as you explore snorkelling locations that reveal the mesmerizing tapestry of marine life.

            </p>
        </div>
        <div class="facilities-col">
            <a href="{{ activities_url9 }}">
            <img src="static/images/michelin.webp">
            </a>
            <h3>Michelin Star Restaurants </h3>
            <p>Indulge in a symphony of flavours and elevate your culinary journey by
               seeking out and relishing the exquisite artistry of Michelin-starred dining, where each
               meticulously crafted dish is a masterpiece that tantalizes not just your palate, but your soul.
 
            </p>
        </div>
    </div>

    <div class="row">
        <div class="facilities-col">
            <a href="{{ activities_url10 }}">
            <img src="static/images/scubadiv.webp">
            </a>
            <h3>Scuba Diving Locations</h3>
            <p>Dive into the depths and discover a realm of wonder,
               as you explore some of the best scuba diving locations that
               unveil the breath taking beauty hidden beneath the waves.

            </p>
        </div>
        <div class="facilities-col">
            <a href="{{ activities_url11 }}">
            <img src="static/images/rockcli.jpeg">
            </a>
            <h3>Rock Climbing</h3>
            <p>Reach for new heights and conquer nature's challenges,
               as you embark on a thrilling journey to unearth world-class rock 
               climbing locations that will elevate both your skills and spirit.
 
            </p>
        </div>
        <div class="facilities-col">
            <a href="{{ activities_url12 }}">
            <img src="static/images/jumping.jpg">
            </a>
            <h3>Bungee Jumping Locations</h3>
            <p>Leap fearlessly into the unknown and embrace the ultimate rush of adrenaline
               as you uncover some of the world's most iconic bungee jumping destinations,
               where gravity-defying moments become unforgettable stories of courage. 
            </p>
        </div>
    </div>

    <div class="row">
        <div class="facilities-col">
            <a href="{{ activities_url13 }}">
            <img src="static/images/destination9.jpeg">
            </a>
            <h3>Safari Locations</h3>
            <p>Embark on a safari adventure where the wilderness becomes your canvas,
               and with each heartbeat, you immerse yourself in the untamed symphony of life.

            </p>
        </div>
        <div class="facilities-col">
            <a href="{{ activities_url14 }}">
            <img src="static/images/skiiii.jpeg">
            </a>
            <h3>Skiing and Snowboarding destinations</h3>
            <p> Embrace the thrill of skiing or snowboarding in
                landscapes transformed by the magic of winter.
 
            </p>
        </div>
        <div class="facilities-col">
            <a href="{{ activities_url15 }}">
            <img src="static/images/caves.jpeg">
            </a>
            <h3>Caves and Caving Locations</h3>
            <p>Venture into the heart of the Earth's hidden realms,
               where darkness unveils its mysteries and ancient secrets are etched into the walls,
               as you discover new caves and caving locations. 
            </p>
        </div>
    </div>




</section>




<!-- footer -->

<section class="footer">
    <h4>About Us</h4>
    <p>At Kick The Bucket List, we are passionate about getting off the sofa and inspiring you<br>
        to a life filled with unforgettable experiences. We inspire ourselves everyday and we<br>
        want to help you turn your dreams into reality ... one bucket list item at a time!</p>
    <div class="icons">
        <i class="fa fa-facebook"></i>
        <i class="fa fa-twitter"></i>
        <i class="fa fa-instagram"></i>
        <i class="fa fa-linkedin"></i>
    </div>
    <p>Made with <i class="fa fa-heart-o"></i> by Monty Python</p>
</section>


<section>


<section>

<!-- JavaScript for Toggle Menu -->
<script>

var navLinks = document.getElementById("navLinks");

function showMenu(){
    navLinks.style.right = "0";
}
function hideMenu(){
    navLinks.style.right = "-200px";
}   

</script>
    
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var scrollButton = document.getElementById("scrollButton");
        var nextSection = document.getElementById("nextSection");

        scrollButton.addEventListener("click", function() {
            nextSection.scrollIntoView({ behavior: "smooth" });
        });
    });
</script>


</body>
</html>
