<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bucket List Website </title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600;700&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/c622fb64c3.js" crossorigin="anonymous"></script>
</head>
<body>
<section class="sub-header2">
    <nav>
        <a href="home.html"><img src="static/images/logo-PhotoRoom.png"> </a>
        <div class="nav-links" id="navLinks">
            <i class="fa fa-times" onclick="hideMenu()"></i>
            <ul>
                <li><a id="home-link" href="/home">Home</a></li>
                <li><a id="lists-link" href="/lists">Lists</a></li>
                <li><a id="destinations-link" href="/destinations">Destinations</a></li>
                <li><a id="activities-link" href="/activities">Activities</a></li>
                <li><a id="signinup-link" href="/signup">Sign in/Sign up</a></li>
            </ul>
        </div>
        <i class="fa fa-bars" onclick="showMenu()"></i>
    </nav>
    <h1>Destinations</h1>
    <p>
        Unlock the world, one destination at a time. Welcome to our Destination Discovery, where the extraordinary <br>
        becomes accessible and the unknown transforms into the unforgettable. Each corner of our planet holds <br>
        a unique story, a hidden gem, a breath taking vista that's waiting for you to explore. 
    </p>
        <br>
        <br>
        <br>
        <br>
        <br>
    <a href="#" class="hero-btn">EXPLORE NOW</a>
  
</section>

<!-- Achievements -->

<section class="facilities">
    <h1>Discover your dream destinations!</h1>


    <div class="row">
        <div class="facilities-col">
            <a href="{{ destination_url2 }}">
            <img src="static/images/banner4.jpeg">
            </a>
            <h3>Bali - Indonesia</h3>
            <p>Bali is an Indonesian island known for its forested volcanic mountains, iconic rice paddies, beaches
               and coral reefs. The island is home to religious sites such as cliffside Uluwatu Temple. To the 
               south, the beachside city of Kuta has lively bars, while Seminyak, Sanur and Nusa Dua are 
               popular resort towns. The island is also known for its yoga and meditation retreats. 
            </p>
        </div>
        <div class="facilities-col">
            <a href="{{ destination_url3 }}">
            <img src="static/images/iceland.jpeg">
            </a>
            <h3>Reykjavik - Iceland</h3>
            <p>Iceland, also called the Land of Fire and Ice, is home to glaciers and volcanos. The island was formed over
               millions of years ago and the landscapes are shaped by these two forces of nature. As a guide, I often hear
               visitors describing the landscape as both stunning and unique. 
            </p>
        </div>
        <div class="facilities-col">
            <a href="{{ destination_url4 }}">
            <img src="static/images/background23.jpeg">
            </a>
            <h3>Beijing - China</h3>
            <p>Beijing is home to many national monuments and museums and has seven UNESCO World Heritage Sites—the Forbidden City,
               Temple of Heaven, Summer Palace, Ming Tombs, Zhoukoudian, and parts of the Great Wall and the Grand Canal—all of
               which are popular tourist locations.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="facilities-col">
            <a href="{{ destination_url5 }}">
            <img src="static/images/banner19.webp">
            </a>
            <h3>Agra - India</h3>
            <p>Agra is best known for the Taj Mahal (17th century), designated a UNESCO World Heritage site in 1983.
               A complex mausoleum, the Taj Mahal is often considered to be the world's best example of Mughal architecture.
            </p>
        </div>
        <div class="facilities-col">
            <a href="{{ destination_url6 }}">
            <img src="static/images/background22.jpeg">
            </a>
            <h3>Ontario - Canada </h3>
            <p>Besides being Canada's main economic hub, Ontario is also known for its natural diversity,
               including vast forests, beautiful provincial parks, four of the five Great Lakes
               and the world-famous Niagara falls.
            </p>
        </div>
        <div class="facilities-col">
            <a href="{{ destination_url7 }}">
            <img src="static/images/destination7.jpeg">
            </a>
            <h3>Tokyo - Japan</h3>
            <p>Tokyo is a modern city, but it still has a culture that shines bright. It is also incredibly safe,
               clean, and delicious and could take a lifetime to explore. This captivating city should be on 
               every traveler's bucket list. 
            </p>
        </div>
    </div>

    <div class="row">
        <div class="facilities-col">
           <a href="{{ destination_url }}">
            <img src="static/images/destination8.jpeg">
            </a>
            <h3>Venice - Italy</h3>
            <p>Venice, known also as the “City of Canals,” “The Floating City,” and “Serenissima,” 
               is arguably one of Italy's most picturesque cities. With its winding canals, 
               striking architecture, and beautiful bridges.
            </p>
        </div>
        <div class="facilities-col">
            <a href="{{ destination_url8 }}">
            <img src="static/images/newz.jpeg">
            </a>
            <h3>Tasman Coast - New Zealand</h3>
            <p>With beautiful beaches and The Abel Tasman Coast Track. Which is a 60 kilometres long walking 
               track within the Abel Tasman National Park in New Zealand. It extends from Mārahau in 
               the south to Wainui in the north, with many side tracks. A great place to explore 
            </p>
        </div>
        <div class="facilities-col">
            <a href="{{ destination_url9 }}">
            <img src="static/images/destination11.jpeg">
            </a>
            <h3>Palawan - Philippines </h3>
            <p>Palawan, one of the best places to visit in the Philippines, is consistently ranked as one of 
               the best islands in the world, and for a good reason. It boasts white sand beaches and
               islands, clear blue waters, a spectacular variety of marine life and shipwreck sites,
               and majestic towering limestone cliffs. 
            </p>
        </div>
    </div>

    <div class="row">
        <div class="facilities-col">
            <a href="{{ destination_url10 }}">
            <img src="static/images/arizona.jpeg">
            </a>
            <h3>Arizona - North America</h3>
            <p>Arizona the canyon state, is home to some of the most stunning natural beauty in America.
               From the blooming saguaros down south to the crimson slot canyons up north and everywhere
               in between, there's an endless array of sights. Each of these gorgeous places to visit 
               in Arizona are worth adding to your itinerary. 
            </p>
        </div>
        <div class="facilities-col">
            <a href="{{ destination_url11 }}">
            <img src="static/images/costaric.jpeg">
            </a>
            <h3>Manuel Antonio - Costa Rica</h3>
            <p>If you're interested in visiting the famed national parks of Costa Rica, consider adding Manuel Antonio
               to your list. A bite-sized chunk of primeval rainforest that spreads across a tombolo on the wild
               Pacific Coast, Manuel Antonio is known for being one of the most biodiverse places on Earth. 
            </p>
        </div>
        <div class="facilities-col">
            <a href="{{ destination_url12 }}">
            <img src="static/images/algarve.jpeg">
            </a>
            <h3>Algarve - Portugal</h3>
            <p>The Algarve region, at the southern end of Portugal, is famous for its amazing coastline and beautiful beaches.
               Its natural wonders are the star attractions, including great surfing spots, towering cliffs,
               hidden bays and bird-filled lagoons. 
            </p>
        </div>
    </div>

    <div class="row">
        <div class="facilities-col">
            <a href="{{ destination_url13 }}">
            <img src="static/images/destination13.jpeg">
            </a>
            <h3>Paris - France</h3>
            <p>It is known worldwide for the Louvre Museum, Notre-Dame cathedral, and the Eiffel tower.
               It has a reputation of being a romantic and cultural city. The city is also known
               for its high-quality gastronomy and the terraces of its cafés.

            </p>
        </div>
        <div class="facilities-col">
            <a href="{{ destination_url14 }}">
            <img src="static/images/destination14.jpeg">
            </a>
            <h3>Amsterdam - Netherlands</h3>
            <p>Perhaps most famous for its art galleries and museums, from the Van Gogh Museum to the Anne Frank House,
               Amsterdam stands proudly as one of the most culturally significant cities in Europe, but, of course,
               it's got a poppin' nightlife scene too.

            </p>
        </div>
        <div class="facilities-col">
            <a href="{{ destination_url15 }}">
            <img src="static/images/destination15.jpeg">
            </a>
            <h3>Phi Phi islands - Thailand</h3>
            <p>Experience the allure of Thailand's Phi Phi Islands—a realm where reality and dreams entwine.
               Uncover inspiration in the mundane turned extraordinary: sandy shores, vibrant waters,
               and local culture. Embrace adventure, find serenity, and broaden horizons in this island haven.
               Your Phi Phi story, filled with unforgettable moments, is yours to craft.
            </p>
        </div>
    </div>




</section>

<!-- facilities -->

<!-- <section class="facilities">
   
    <div class="row">
        <div class="facilities-col">
            <img src="websiteimages/hiking.jpg">
            <h3>Hikes and Trails</h3>
            <p>More and more and more and more example text, if you don't want to put anything meanungful into a paragraph 
                just waffle abosolute nonsense to fill the space. 
            </p>
        </div>
        <div class="facilities-col">
            <img src="websiteimages/destination1.jpg">
            <h3>Locations</h3>
            <p>More and more and more and more example text, if you don't want to put anything meanungful into a paragraph 
                just waffle abosolute nonsense to fill the space. 
            </p>
        </div>
        <div class="facilities-col">
            <img src="websiteimages/diving.jpg">
            <h3>Activities</h3>
            <p>More and more and more and more example text, if you don't want to put anything meanungful into a paragraph 
                just waffle abosolute nonsense to fill the space. 
            </p>
        </div>
    </div>


</section> -->

<!-- footer -->

<section class="footer">
    <h4>About Us</h4>
    <p>At Kick The Bucket List, we are passionate about getting off the sofa and inspiring you<br>
        to a life filled with unforgettable experiences. We inspire ourselves everyday and we<br>
        want to help you turn your dreams into reality ... one bucket list item at a time!</p>
    <div class="icons">
        <i class="fa fa-facebook"></i>
        <i class="fa fa-twitter"></i>
        <i class="fa fa-instagram"></i>
        <i class="fa fa-linkedin"></i>
    </div>
    <p>Made with <i class="fa fa-heart-o"></i> by Monty Python</p>
</section>


<section>

<!-- JavaScript for Toggle Menu -->
<script>

var navLinks = document.getElementById("navLinks");

function showMenu(){
    navLinks.style.right = "0";
}
function hideMenu(){
    navLinks.style.right = "-200px";
}   

</script>
    
</body>
</html>
