<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bucket List Website </title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600;700&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/c622fb64c3.js" crossorigin="anonymous"></script>
</head>
<body>
<section class="header">
    <nav>
        <a href="home.html"><img src="images/logo-PhotoRoom.png"> </a>
        <div class="nav-links" id="navLinks">
            <i class="fa fa-times" onclick="hideMenu()"></i>
            <ul>
                <li><a id="home-link" href="home.html">Home</a></li>
                <li><a id="lists-link" href="lists.html">Lists</a></li>
                <li><a id="destinations-link" href="destinations.html">Destinations</a></li>
                <li><a id="activities-link" href="activities.html">Activities</a></li>
                <li><a id="signinup-link" href="signup.html">Sign in/Sign up</a></li>
            </ul>
        </div>
        <i class="fa fa-bars" onclick="showMenu()"></i>
    </nav>

    <div class="text-box">
        <h1>Things to do, before it's too late to!</h1>
        <p>
             Welcome to a journey of dreams and aspirations, a place where your imagination knows no bounds, and your bucket<br>
             list comes to life. Our platform is more than just a collection of experiences; it's a canvas upon which you can paint<br>
             your boldest desires and wildest adventures. Life is an extraordinary adventure waiting to unfold, and here, we're<br>
             dedicated to guiding you in crafting a bucket list that will transform your aspirations into accomplishments.<br>
        </p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <a href="" class="hero-btn">Find A Winner With Our Random Bucket Spinner!</a>
    </div>


</section>

<!-- Adventure -->

<section class="course">
    <h1>Begin discovering!</h1>
    <p>Example text for advanture page,More and more and more and more example text, if you don't want to put anything meanungful into a paragraph 
        just waffle abosolute nonsense to fill the space,More and more and more and more example text, if you don't want to put anything meanungful into a paragraph 
        just waffle abosolute nonsense to fill the space. </p>

    <div class="row">
        <div class="course-col">
            <h3>Activities & Experiences</h3>
            <p>More and more and more and more example text, if you don't want to put anything meanungful into a paragraph 
                just waffle abosolute nonsense to fill the space. 
            </p>

        </div>
        <div class="course-col">
            <h3>Amazing Destinations</h3>
            <p>More and more and more and more example text, if you don't want to put anything meanungful into a paragraph 
                just waffle abosolute nonsense to fill the space. 
            </p>

        </div>
        <div class="course-col">
            <h3>Achieving Goals</h3>
            <p>More and more and more and more example text, if you don't want to put anything meanungful into a paragraph 
                just waffle abosolute nonsense to fill the space. 
            </p>

        </div>
    </div>

</section>

<!-- Next Section (undecided) -->

<section class="next-sec">
    <h1>Design unique lists to fulfill your dreams!</h1>
    <p>Example text for advanture page, More and more and more and more example text, if you don't want to put anything meanungful into a paragraph 
        just waffle abosolute nonsense to fill the space.More and more and more and more example text, if you don't want to put anything meanungful into a paragraph 
        just waffle abosolute nonsense to fill the space</p>

    <div class="row">
        <div class="campus-col">
            <img src="images/next-sec.jpg">
            <div class="layer">
                <h3>Thrill seekers</h3>
            </div>
        </div>
        <div class="campus-col">
            <img src="images/explorers2.jpg">
            <div class="layer">
                <h3>Explorers</h3>
            </div>
        </div> <div class="campus-col">
            <img src="images/foodies3.jpeg">
            <div class="layer">
                <h3>Foodies</h3>
            </div>
        </div>

    </div>


</section>

<!-- Another section -->

<section class="facilities">
    <h1>Inspiration</h1>
    <p>Example text for advanture page, More and more and more and more example text, if you don't want to put anything meanungful into a paragraph 
        just waffle abosolute nonsense to fill the space.</p>

    <div class="row">
        <div class="facilities-col">
            <img src="images/hiking.jpg">
            <h3>Hikes and Trails</h3>
            <p>More and more and more and more example text, if you don't want to put anything meanungful into a paragraph 
                just waffle abosolute nonsense to fill the space. 
            </p>
        </div>
        <div class="facilities-col">
            <img src="images/destination1.jpg">
            <h3>Locations</h3>
            <p>More and more and more and more example text, if you don't want to put anything meanungful into a paragraph 
                just waffle abosolute nonsense to fill the space. 
            </p>
        </div>
        <div class="facilities-col">
            <img src="images/diving.jpg">
            <h3>Activities</h3>
            <p>More and more and more and more example text, if you don't want to put anything meanungful into a paragraph 
                just waffle abosolute nonsense to fill the space. 
            </p>
        </div>
    </div>


</section>

<!-- Testimonials -->

<section class="testimonials">
    <h1>What our customers say</h1>
    <p>Example text for advanture page</p>

    <div class="row">
        <div class="testimonial-col">
            <img src="images/user4.jpg">
            <div>
                <p>More and more and more and more example text, if you don't want to put anything meanungful into a paragraph 
                just waffle abosolute nonsense to fill the space.</p>
                <h3>Christine Berley</h3>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
        </div>   
        <div class="testimonial-col">
            <img src="images/user3.jpg">
            <div>
                <p>More and more and more and more example text, if you don't want to put anything meanungful into a paragraph 
                just waffle abosolute nonsense to fill the space.</p>
                <h3>Ian Caldwell</h3>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
            </div>
        </div>     
    </div>

</section>

<!-- call to action -->

<section class="cta">
    <h1>Create an account<br>Create your list<br>Create memories</h1>
    <a href="" class="hero-btn">Sign up to get started!</a>
</section>


<!-- footer -->

<section class="footer">
    <h4>About Us</h4>
    <p>More and more and more and more example text, if you don't want to put anything meanungful into a paragraph 
    just waffle abosolute nonsense to fill the space.</p>
    <div class="icons">
        <i class="fa fa-facebook"></i>
        <i class="fa fa-twitter"></i>
        <i class="fa fa-instagram"></i>
        <i class="fa fa-linkedin"></i>
    </div>
    <p>Made with <i class="fa fa-heart-o"></i> by Monty Python</p>
</section>




<!-- JavaScript for Toggle Menu -->
<script>
var navLinks = document.getElementById("navLinks");

function showMenu(){
    navLinks.style.right = "0";
}
function hideMenu(){
    navLinks.style.right = "-200px";
}   
</script>
    
</body>
</html>