<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bucket List Website </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600;700&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/c622fb64c3.js" crossorigin="anonymous"></script>
</head>
<body>
<section class="header">
    <nav>
        <a href="home.html"><img src="static/images/logo-PhotoRoom.png"> </a>
        <div class="nav-links" id="navLinks">
            <i class="fa fa-times" onclick="hideMenu()"></i>
            <ul>
                <li><a id="home-link" href="/home">Home</a></li>
                <li><a id="lists-link" href="/lists">Lists</a></li>
                <li><a id="destinations-link" href="/destinations">Destinations</a></li>
                <li><a id="activities-link" href="/activities">Activities</a></li>
                <li><a id="signinup-link" href="/signup">Sign In</a></li>
                <li><a id="contact-link" href="/contact">Contact</a></li>
            </ul>
        </div>
        <i class="fa fa-bars" onclick="showMenu()"></i>
    </nav>

    <div class="text-box">
        <h1>Things to do, before it's too late to!</h1>
        <br>
        <p>
             Welcome to a journey of dreams and aspirations, a place where your imagination knows no bounds, and your bucket<br>
             list comes to life. Our platform is more than just a collection of experiences; it's a canvas upon which you can paint<br>
             your boldest desires and wildest adventures. Life is an extraordinary adventure waiting to unfold, and here, we're<br>
             dedicated to guiding you in crafting a bucket list that will transform your aspirations into accomplishments.
        </p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <a href="/lists" class="hero-btn">Find a winner with our Random Bucket Spinner!</a>
    </div>
</section>
<!-- Adventure -->
<section class="course">
    <h1>Begin discovering!</h1>
    <br>
    <p>Dive into a world of limitless potential, crafting your unique list of aspirations that define your journey ahead.
       It's time to embark on a journey filled<br> with excitement and exploration! So, if your bucket list needs a boost,
       we have a treasure trove of beautiful locations, amazing experiences,<br>and breathtaking activities awaiting.
       Embark on this journey of discovery and let your aspirations take flight!.
    </p>

    <div class="row">
        <div class="course-col">
            <h3>Activities & Experiences</h3>
            <br>
            <p>No matter your interests, passions, or preferences, there's an adventure tailored just for you.
               Unveil the wonders of our carefully curated selection, where every moment is a chance to create lasting memories.
               With an array of choices to suit every individual, our platform ensures that there's something spectacular for everyone. 
            </p>

        </div>
        <div class="course-col">
            <h3>Amazing Destinations</h3>
            <br>
            <p>Prepare to be captivated as you journey through our curated selection of amazing destinations.
               Each place holds its own unique charm, ready to take you on an unforgettable adventure.
               Whether you're drawn to serene landscapes, vibrant cities, or hidden gems off the beaten path,
               our platform brings the world's wonders to your screen. 
            </p>

        </div>
        <div class="course-col">
            <h3>Achieving Goals</h3>
            <br>
            <p>Discover the transformative magic of building your bucket list. It's more than a list;
               it's a roadmap to realizing your dreams. From conquering fears to embracing new horizons,
               our platform empowers you to shape your journey. Unleash your potential, design your path,
               and let the pursuit of your goals begin! 
            </p>

        </div>
    </div>
</section>

<!-- Next Section (undecided) -->
<section class="next-sec">
    <h1>Design unique lists to fulfill your dreams!</h1>
    <br>
    <p>If you're finding yourself in need of fresh and exciting ideas to enrich your bucket list, your search ends here.
       We take pride in presenting you with an array of options from the most captivating and picturesque <br>destinations
       to the most remarkable and once-in-a-lifetime experiences Whether you're yearning to wander through
       breathtaking landscapes, indulge in heart-pounding adventures,<br>or immerse yourself in cultural gems,
       our curated collection is designed to ignite your imagination and rekindle your passion for exploration.</p>
       <br>

    <div class="row">
        <div class="campus-col">
            <img src="static/images/next-sec.jpg">
            <div class="layer">
                <h3>Thrill seekers</h3>
            </div>
        </div>
        <div class="campus-col">
            <img src="static/images/explorers2.jpg">
            <div class="layer">
                <h3>Explorers</h3>
            </div>
        </div> <div class="campus-col">
            <img src="static/images/foodies3.jpeg">
            <div class="layer">
                <h3>Foodies</h3>
            </div>
        </div>
    </div>
</section>
<!-- Another section -->
<section class="facilities">
    <h1>Inspiration</h1>
    <br>
    <p>Our website serves as a boundless wellspring of inspiration for your bucket list aspirations.
       Whether you're seeking offbeat endeavors or classic adventures, our carefully curated collection <br>
       is designed to spark your imagination and fuel your desire for unique experiences. Discover a plethora
       of ideas that span various interests and preferences, igniting the thrill <br>of exploration within you.
       With our website as your guide, you'll find yourself crafting a bucket list that's not only inspiring 
       but also a true reflection<br> of your innermost dreams and desires. </p>

    <div class="row">
        <div class="facilities-col">
            <img src="static/images/hiking.jpg">
            <h3>Experiences</h3>
            <p>Dive into life's most incredible experiences with our website as your guide. We're dedicated
               to kindling your imagination and passion for unique adventures. From heart-pounding escapades
               that push your boundaries to serene journeys that touch your soul, we curate a diverse range 
               of inspiration to enrich your bucket list.
            </p>
        </div>
        <div class="facilities-col">
            <img src="static/images/destination1.jpg">
            <h3>Locations</h3>
            <p>Unveil the world's hidden treasures and rewrite the narrative
               of your adventures as you embark on a journey of discovering new travel locations.
               Discover the extraordinary moments that define a 
               fulfilling life, and let each idea paint a vivid picture of the remarkable possibilities that await.
 
 
            </p>
        </div>
        <div class="facilities-col">
            <img src="static/images/diving.jpg">
            <h3>Activities</h3>
            <p>Ignite your curiosity and embrace the thrill of the unknown with our website.
               Dive into a world of fresh experiences, where every click unveils new activities to discover.
               From heart-pounding adventures to serene escapes, our curated selection redefines your bucket list.
               Each experience sparks wonder and creates lasting memories.
            </p>
        </div>
    </div>


</section>

<!-- Testimonials -->

<section class="testimonials">
    <h1>What our customers say</h1>
    <br>
    <p>Don't just take our word for it, 
       here's what our users have said!
    </p>

    <div class="row">
        <div class="testimonial-col">
            <img src="static/images/user4.jpg">
            <div>
                <p>Assured Excellence! This exceptional bucket list website offers
                   a secure and reputable experience. Its array of unique and diverse ideas
                   make it a reliable source for a creative bucket list journey.
                   Look no further for an exceptional experience!</p>
                <h3>Christine Berley</h3>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
        </div>   
        <div class="testimonial-col">
            <img src="static/images/user3.jpg">
            <div>
                <p>Really Impressive! This bucket list website offers some truly unique and creative ideas
                   that I've never even thought of. The "Random Bucket Spinner" adds an element of surprise to the experience.
                   While some activities might be a bit outlandish for my taste,
                   It's definitely worth checking out if you're looking to spice up your bucket list!</p>
                <h3>Ian Caldwell</h3>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
            </div>
        </div>     
    </div>

</section>

<!-- call to action -->

<section class="cta">
    <h1>Create an account<br>Create your list<br>Create memories</h1>
    <a href="/signup" class="hero-btn">Sign up to get started!</a>
</section>


<!-- footer -->

<section class="footer">
    <h4>About Us</h4>
    <p>At Kick The Bucket List, we are passionate about getting off the sofa and inspiring you<br>
        to a life filled with unforgettable experiences. We inspire ourselves everyday and we<br>
        want to help you turn your dreams into reality ... one bucket list item at a time!</p>
    <div class="icons">
        <i class="fa fa-facebook"></i>
        <i class="fa fa-twitter"></i>
        <i class="fa fa-instagram"></i>
        <i class="fa fa-linkedin"></i>
    </div>
    <p>Made with <i class="fa fa-heart-o"></i> by Monty Python</p>
</section>




<!-- JavaScript for Toggle Menu -->
<script>
var navLinks = document.getElementById("navLinks");

function showMenu(){
    navLinks.style.right = "0";
}
function hideMenu(){
    navLinks.style.right = "-200px";
}   
</script>
    
</body>
</html>