<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bucket List Website </title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600;700&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/c622fb64c3.js" crossorigin="anonymous"></script>
</head>
<body>
<section class="sub-header4">
    <nav>
        <a href="home.html"><img src="static/images/logo-PhotoRoom.png"> </a>
        <div class="nav-links" id="navLinks">
            <i class="fa fa-times" onclick="hideMenu()"></i>
            <ul>
                <li><a id="home-link" href="/home">Home</a></li>
                <li><a id="lists-link" href="/lists">Lists</a></li>
                <li><a id="destinations-link" href="/destinations">Destinations</a></li>
                <li><a id="activities-link" href="/activities">Activities</a></li>
                <li><a id="signinup-link" href="/signup">Sign In</a></li>
                <li><a id="contact-link" href="/contact">Contact</a></li>
            </ul>
        </div>
        <i class="fa fa-bars" onclick="showMenu()"></i>
    </nav>
    <h1>Sign in & Sign up</h1>
    <br>
    <p>
        Once you've signed up, immerse yourself in curated inspiration that transcends the ordinary. Discover a world of extraordinary adventures,<br>
        serene moments, and vibrant cultural experiences. Unleash your passions, broaden your horizons, and script your unique journey.<br>
        The first step: signing up and turning dreams into reality.
    </p>
        <br>
        <br>
        <br>
        <br>
        <br>
    <a id="scrollButton" class="hero-btn">EXPLORE NOW</a>

  
</section>

<!-- sign up section -->
<br>
<br>

<section>
    <div class="container">
        <h1>Sign In</h1>
        <form action="/signin" method="post">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <button type="submit">Sign In</button>
        </form>
    </div>
</section>

<section id="nextSection" class="course">
    <h1>Create an account </h1>
    <br>
    <p>What more can we say? <br>
       Sign up and Sign in so you can start creating you own Bucket Lists!
     </p>

    <div class="row">
        <div class="course-col">
            <h3> Get Signed Up</h3>
            <p>Sign up here, just enter a few details and you are one step closer. 
            </p>

        </div>
        <div class="course-col">
            <h3>Get Signed In</h3>
            <p>Once you signed up, sign in! This gives you the power to make your own Bucket Lists.
            </p>

        </div>
        <div class="course-col">
            <h3>Get Inspired </h3>
            <p>Now you're all set up, get ready to explore and be inspired by our helpful links and Random Bucket Spinner
            </p>

        </div>
    </div>

</section>

<!-- sign up form  -->

<section id="signup">

        <div class="">
            <h2>Sign Up</h2>
            <br>
            <form action="" method="post">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
    
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
    
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
    
                <label for="confirm_password">Confirm Password:</label>
                <input type="password" id="confirm_password" name="confirm_password" required>
    
                <input type="submit" name="submit">
            </form>
        </div>

    </section>
    
    
    
    
    
    
    
<!-- sign in  -->

<!-- footer -->

<section class="footer">
    <h4>About Us</h4>
    <p>At Kick The Bucket List, we are passionate about getting off the sofa and inspiring you<br>
        to a life filled with unforgettable experiences. We inspire ourselves everyday and we<br>
        want to help you turn your dreams into reality ... one bucket list item at a time!</p>
    <div class="icons">
        <i class="fa fa-facebook"></i>
        <i class="fa fa-twitter"></i>
        <i class="fa fa-instagram"></i>
        <i class="fa fa-linkedin"></i>
    </div>
    <p>Made with <i class="fa fa-heart-o"></i> by Monty Python</p>
</section>


<section>


<section>

<!-- JavaScript for Toggle Menu -->
<script>

var navLinks = document.getElementById("navLinks");

function showMenu(){
    navLinks.style.right = "0";
}
function hideMenu(){
    navLinks.style.right = "-200px";
}   

</script>
    
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var scrollButton = document.getElementById("scrollButton");
        var nextSection = document.getElementById("nextSection");

        scrollButton.addEventListener("click", function() {
            nextSection.scrollIntoView({ behavior: "smooth" });
        });
    });
</script>
</body>
</html>